
.container-next{
    width: 100%;
    padding-bottom: 200px;
}
.container-isi{
    width: 100%;
}
.container-next .image{
    width: 100%;
    position: relative;
}
.container-next .image::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #272727 0%, rgba(217, 217, 217, 0.00) 100%);
}
.container-next .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-next .image p{
    position: absolute;
    font-size: 24pt;
    width: 50%;
    color:white;
    bottom: 100px; 
    left: 50px;
    font-weight: 700;   
}
.container-next .image h1{
    color: white;
    left: 50px;
    font-weight: 400;
    position: absolute;
    bottom: 60px;
}
.desc{
    width: 90%;
}
.desc h1{
    margin-bottom: 20px;
}
.desc p{
    padding: 50px 5%;
    border-left: 10px solid red;
}
.maps{
    margin-top: 50px;
    width: 100%;
    height: 400px;
}
.container-map{
    width: 100%;
    height: 100%;
    display: flex;
}
.maps iframe{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.maps p{
    padding: 20px;
    margin-left: 5%;
}