
.about-kesenian{
    z-index: -8;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 100vh;
}
.about-kesenian img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -7;
    object-fit: cover;
}
.about-kesenian .text-field{
    width: 50%;
    color: white;
    margin: auto;
    z-index:-2;
    text-align: center;
} 
.about-kesenian-field{
    width: 100%;
    position: relative;
    margin-top: 70vh;
    height: 1px;
}
.about-button{
    padding: 10px 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #919291;
    position: relative;
}
.about-button:hover{
    background-color: #686868;
}