nav{
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 99;

    /* Kalau  Menurutku Ini Ganti */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.14) 73.44%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.20);
}
.btn-dropdown{
    display: none;
}
nav img{
    position: absolute;
    margin: 5px;
    height: 60px;
    margin-left: 13%;
}
.search{
    position: absolute;
    right: 13%;
    height: 70px;
    display: flex;
}
.search span{
    color: white;
    font-size: 25px;
    margin: auto;
}
.search input{
    height: 28px;
    margin-top:calc((70px - 28px)/2);
}
.col-nav{
    height: 100%;
    margin: auto;
    width: 30%;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.col-nav a::before{
    content: "";
    z-index: -10;
    padding: 5px 0;
    left: -10px;
    top: -2.5px;
    position: absolute;
    background-color: rgba(255, 255, 255,.3);
    width: 0px;
    transition: .3s ease;
    height: 100%;
}
.col-nav a:hover::before{
    padding: 5px;
    width: 100%;
}
.col-nav a:hover{
    color: rgb(255, 255, 255);
}
.col-nav a{
    transition: 0.3s;
    z-index: 3;
    position: relative;
    display: flex;
    margin: auto 0;
    text-decoration: none;
    color: white;
}
.dropdown{
    margin-top: -10px;
}
.dropdown span {
    margin-top: 10px;
}
.col-nav a .dropdown-menu{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    box-shadow: 0 0 20px gray;
    left: -10px;
    overflow: hidden;
    width: 200px;
    height: 0;
    padding: 0 20px;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 8px;
}
.col-nav a:hover .dropdown-menu{
    transition: 0.3s ease;
    padding: 10px 20px;
    height: 150px;
    opacity: 1;
}
.dropdown-menu a{
    margin: 10px 0;
    color: black;
}
.dropdown-menu a:hover{
    color: gray;
}
.drop2{
    height: 200px;
}
.col-nav a:hover .drop2 {
    height: 120px
}

@media only screen and (max-width:1330px){
    .col-nav{
        width: 40%;
    }
}

@media only screen and (max-width:970px){
    nav img{
        margin-left: 5%;
    }
    .search{
        right: 5%;
    }
    .col-nav{
        width: 50%;
    }
}
@media only screen and (max-width:800px){
    nav{
        transition: 0.3s ease;
    }
    .col-nav{
        z-index: 9;
        display: none;
        width: 90%;
        top:110px;
        left:5%; 
        opacity: 0;
    }
    .col-nav a{
        margin-top: 10px;
    }
    .search{
        display: none;
        z-index: 9;
        position: relative;
        left: 5%;
        top: 60px;
    }
    .dropdown-menu{
        width: 70%;
        margin-left: 20%;
    }
    .col-nav a:hover .dropdown-menu{
        width: 70%;
        margin-left: 20%;
    }
    .dropdown-menu a{
        z-index: auto;
    }
    .nav-menu    p{
        z-index: -10;
    }
    .btn-dropdown{
        display: flex;
        position: absolute;
        right: 5%;
        height: 70px;
    }
    .btn-dropdown span{
        margin: auto;
        font-weight: bold;
        color: white;
        padding: 5px;
    }
    .dropdown-active{
        border-radius: 5px;
        background-color: rgba(255, 255, 255,.3);
    }
    .active{
        height: 300px;
    }
    .active .col-nav{
        opacity: 1;
        display: block;
    }
}