nav{
    width: 100%;
    height: 70px;
    display: flex;

    /* Kalau  Menurutku Ini Ganti */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.14) 73.44%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.20);
}
nav img{
    position: absolute;
    margin: 5px;
    height: 60px;
    margin-left: 13%;
}
.search{
    position: absolute;
    right: 13%;
    height: 70px;
    display: flex;
}
.search span{
    color: white;
    font-size: 25px;
    margin: auto;
}
.col-nav{
    height: 100%;
    margin: auto;
    width: 30%;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.col-nav a::before{
    content: "";
    z-index: -10;
    padding: 5px 0;
    left: -10px;
    top: -2.5px;
    position: absolute;
    background-color: rgba(255, 255, 255,.3);
    width: 0px;
    transition: .3s ease;
    height: 100%;
}
.col-nav a:hover::before{
    padding: 5px;
    width: 100%;
}
.col-nav a:hover{
    color: rgb(255, 255, 255);
}
.col-nav a{
    transition: 0.3s;
    z-index: 3;
    position: relative;
    display: flex;
    margin: auto 0;
    text-decoration: none;
    color: white;
}
.dropdown{
    margin-top: -10px;
}
.dropdown span {
    margin-top: 10px;
}
.col-nav a .dropdown-menu{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    box-shadow: 0 0 20px gray;
    left: -10px;
    overflow: hidden;
    width: 200px;
    height: 0;
    padding: 0 20px;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 8px;
}
.col-nav a:hover .dropdown-menu{
    transition: 0.3s ease;
    padding: 10px 20px;
    height: 150px;
    opacity: 1;
}
.dropdown-menu a{
    margin: 10px 0;
    color: black;
}
.dropdown-menu a:hover{
    color: gray;
}