.batik-container{
    position: relative;
    z-index: -2;
    width: 100%;
    padding-bottom: 50px;
    background-color: white;
    overflow-x: hidden;
}
.batik-scroll{
    transition: .3s ease;
    width: 700%;
    margin-left: -100%;
    transition: 2s ease;
    display: flex;
    z-index: -2;
}
.batik-field{
    transition: 0.3s ease;
    width: 20%;
}
.hide{
    display: none;
}
.batik-container .button{
    width: 100px;
    height: 100%;
    position: absolute;
    display: flex;
}
.batik-container .left{
    left: 0;
    transform: rotate(180deg);
}
.batik-container .button button{
    opacity: 0;
    width: 100%;
    transition: .3s ease;
    outline: none;
    border: none;
    border-radius: 30px 0 0 30px;
}
.batik-container:hover .button button{
    opacity: 1;
}
.batik-container .button button:hover{
    background-color: rgba(81, 81, 81,.2);
}
.batik-container .button  button:hover span{
    color: white;
}
.batik-container .button button span{
    font-size: 32pt;
    color: rgb(90, 90, 90);
}
.batik-container .right{
    right: 0;
    position: absolute;
}
.swiper {
    width: 600px;
    height: 300px;
  }
