 .image-thumb{
    background-color: black;
    width: 100%;
    height: 400px;
    position: relative;
 }
 .image-thumb img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
 }
 .text-container{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
}
.text-container .text-field{
    color: white;
    width: 70%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.title-ivent{
    width: 80%;
    margin: 0 10%;
    padding: 50px 0;
    font-size: 12pt;
    text-align: center;
}
.calender-container{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    display: flex;
}
.calender-container iframe{
    width: 48%;
    border: none;
}
.calender-container iframe:last-child{
    border: none;
    width: 48%;
    height: 600px;
    margin-left: 2%;
}
.calender-field{
    flex-wrap: wrap;
    width: 80%;
    
    display: flex;
    gap: 10px;
    margin: auto;
}
.card-calender{
    padding: 10px;
    margin-bottom: 50px;
    width: 300px;
    background-color: rgb(238, 238, 238);
    height: 100px;
    border-radius: 8px;
}
.card-calender > p{
    font-size: 9pt;
    color: red;
}
.card-calender .card-icon{
    margin-bottom: 10px;
    display: flex;
    width: auto;
    gap: 10px;
    font-weight: 600;
}
.card-calender .card-icon span{
    color: red;
}


@media only screen and (max-width:700px){
    .text-container{
        height: auto;
        top: auto;
        bottom: 0;
    }
    .text-container .text-field{
        position: relative;
        width: 80%;
        border: 1px solid red;
        left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .iframe-container{
        display: block;
    }
    .calender-container iframe{
        width: 100%;
        border: none;
    }
    .calender-container iframe:last-child{
        border: none;
        width: 100%;
        height: 600px;
        margin: 0;
    }
}
@media only screen and (min-width:1225px){
   .calender-field{
    justify-content: space-between;
   }
}
@media only screen and (max-width:810px){
    .card-calender{
        width: 100%;
    }
}